export(expv)
export(padm)
exportMethods(expv)
importClassesFrom(Matrix,CsparseMatrix)
importClassesFrom(Matrix,TsparseMatrix)
importClassesFrom(Matrix,dgCMatrix)
importClassesFrom(SparseM,matrix.coo)
importClassesFrom(SparseM,matrix.csc)
importClassesFrom(SparseM,matrix.csr)
importMethodsFrom(Matrix,t)
importMethodsFrom(SparseM,t)
useDynLib(expoRkit)
